@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #caf0f8;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 100px #0000001a;
}

.blog-image {
  width: 100%;
  height: 175px;
  border-radius: 6px;
  overflow: hidden;
}
.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.design-btn {
  width: fit-content;
  height: 30px;
  border-radius: 50px;
  padding: 0px 20px;
  color: #233946;
  background-color: #78bfe9;
  font-size: 14px;
  font-weight: 700;
  border: none;
  transition: 300ms ease;
}

.design-btn:hover{
  transform: scale(110%);
}

.blog-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.blog-desc {
  font-size: 14px;
  font-weight: 400;
  color: #6c727f;
  width: 80%;
}
.card hr {
  width: 100%;
  height: 0.5px;
  background-color: #6c727f;
}

.author{
  font-size: 16px;
  text-transform: uppercase;
  color: #6C727F;
  font-weight: 600;
  letter-spacing: 1px;
}